@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

.primaryBtn, .secondaryBtn {
    padding: 1vw 2vw;
    border: none;
    border-radius: 2.5vw;
    color: #fff;
}

.primaryBtn {
    background-color: #ff42a5;
}

.secondaryBtn {
    background-color: #4EC5F7;
}

section {
    margin: 6.25vw auto;
}

/* header related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    margin: 38px auto;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logoContainer > img {
    height: 2.8rem;
}

.logoTitle {
    font-size: 2.8rem;
    color: #0B0223;
    font-weight: 700;
}

.logoTitle >  span {
    color: #ff42a5;
    margin-left: 1.25rem;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation > a, p {
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}

.navigation > a {
    margin-right: 2rem;
}

.socialContainer {
    display: flex;
    align-items: center;
    padding: 1.1rem 1.5rem;
    border-radius: 8px;
    background: #0b02231a;
}

.socialContainer > img {
    margin-left: 1rem;
    height: 1.1rem;
}

/* banner related styles */
.banner {
    /* border: 2px solid tomato; */
    display: flex;
    /* grid-auto-flow: row; */
    justify-content: space-between;
    /* align-items: center; */
    width: 87.5vw;
}

.bannerLContainer {
    /* border: 1.5px solid blueviolet; */
    background-image: url('../images/Group 14.png');
    background-size: cover;
    background-position: right;
    /* height: 100%; */
    width: 58%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.marginContainer {
    /* border: 2px solid blueviolet; */
    margin-left: 12.4vw;
    display: flex;
    /* flex-direction: start; */
    flex: start;
}

.bannerTitle {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}

.bannerTitle > span {
    font-size: 5.9rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bannerAds {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1.5vw 0 2.5vw;
}

.bannerBtnContainer {
    /* border: 2px solid red; */
    display: flex;
    column-gap: 1.25vw;
    /* grid-template-columns: 1fr 1fr; */
    justify-content: center;
}

.bannerRContainer {
    /* border: 1.5px solid red; */
    width: 42%;
}

.bannerRContainer > img {
    display: block;
    position: bottom;
    width: 100%;
}

/* game video related styles */
.gameVideo {
    border: 2px solid blueviolet;
    width: 75vw;
}

/* footer related styles */

footer {
    display: flex;
    justify-content: center;
    background-color: #0B0223;
}

.footerContainer {
    padding: 6.25vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoContainer {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.logoText {
    color: #fff;
font-size: 2.8rem;
font-weight: 700;
}

.logoText > span {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.importantLinks {
    display: flex;
    gap: 3.125vw;
    margin-top: 3.2vw;
}

.importantLinks > a {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
}

.socialMedia {
    display: flex;
    gap: 2.5vw;
    margin-top: 2.9vw;
}

.socialMedia > img {
    height: 2vw;
}

.privacyContainer {
    margin-top: 3.33vw;
    display: flex;
    gap: 3.125vw;
}
.privacyContainer > a {
    color: rgba(255, 255, 255, 0.60);
font-size: 1rem;
font-weight: 500;
}

.footerBottomText {
    color: rgba(255, 255, 255, 0.60);
font-size: 1rem;
font-weight: 500;
margin-top: 1vw;
}